.footer {
  width: 100%;
  max-width: 194px;
  font-weight: 400;
  font-size: 1em;
  margin: 18px auto 0;
  padding-bottom: 25px;
}

.footer__signature {
  margin-top: 0;
  margin-bottom: 24px;
  text-align: center;
}

@media screen and (max-width: 455px) {
  .footer {
    font-size: 0.87em;
    margin: auto;
  }
}
