@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

.page {
  background-color: #2a2c2f;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #f5f5f5;
  margin: auto;
}

.header {
  width: 100%;
  max-width: 255px;
  margin: auto;
}

.header__logo {
  margin: auto;
  width: 255px;
  height: 69px;
  padding-top: 34px;
}

@media screen and (max-width: 450px) {
  .header__logo {
    width: 188px;
    height: 52px;
    margin: auto;
    display: flex;
  }
}

.main {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 985px;
}

.main__title {
  margin: 91px auto 32px;
  text-align: center;
  max-width: 720px;
  font-weight: 900;
  font-size: 6em;
}

.main__subtitle {
  margin: auto;
  text-align: center;
  font-size: 1.8em;
  line-height: 1.5;
  max-width: 720px;
}

.main__image {
  filter: grayscale(100%);
  width: 100%;
  max-width: 985px;
  margin: 64px auto 92px;
}

@media screen and (max-width: 700px) {
  .main__title {
    font-size: 4.5em;
    max-width: 530px;
  }
  .main__subtitle {
    font-size: 1.5em;
    max-width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .main__subtitle {
    max-width: 500px;
  }
}

@media screen and (max-width: 450px) {
  .main__title {
    font-size: 2.5em;
    max-width: 228px;
  }
  .main__subtitle {
    font-size: 1em;
    max-width: 288px;
  }
}

.intro {
  width: 100%;
  max-width: 985px;
  margin-left: 148px;
}

.intro__title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  max-width: 830px;
  font-weight: 900;
  font-size: 2.8em;
}

.intro__quote {
  text-align: left;
  font-weight: 400;
  font-size: 1.5em;
  margin: 27px 0;
  max-width: 738px;
}

.intro__quote-author {
  text-align: right;
  font-weight: 400;
  font-size: 1.5em;
  max-width: 732px;
}

.intro__text {
  margin-top: 27px;
  margin-bottom: 92px;
  text-align: left;
  font-weight: 400;
  font-size: 1em;
  max-width: 722px;
}

@media screen and (max-width: 1150px) {
  .intro {
    margin: auto;
  }
}

@media screen and (max-width: 1050px) {
  .intro {
    margin-left: 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 790px) {
  .intro {
    margin-right: 24px;
    margin-left: 24px;
  }

  .intro__title {
    max-width: 707px;
  }
}

@media screen and (max-width: 770px) {
  .intro {
    margin-right: auto;
    margin-left: auto;
  }

  .intro__quote-author {
    margin-left: 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 760px) {
  .intro {
    margin-left: 24px;
    max-width: 650px;
  }
}

@media screen and (max-width: 685px) {
  .intro {
    max-width: 550px;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    max-width: 500px;
  }
}

@media screen and (max-width: 550px) {
  .intro {
    max-width: 450px;
  }
}

@media screen and (max-width: 500px) {
  .intro {
    max-width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .intro {
    max-width: 350px;
  }
}

@media screen and (max-width: 400px) {
  .intro {
    max-width: 300px;
  }
}

@media screen and (max-width: 350px) {
  .intro {
    margin-right: 16px;
    margin-left: 16px;
    max-width: 288px;
  }
}

@media screen and (max-width: 330px) {
  .intro {
    margin-right: auto;
    margin-left: auto;
    max-width: 288px;
  }
}

.footer {
  width: 100%;
  max-width: 194px;
  font-weight: 400;
  font-size: 1em;
  margin: auto;
}

.footer__signature {
  margin-top: 0;
  margin-bottom: 24px;
  text-align: center;
}

@media screen and (max-width: 455px) {
  .footer {
    font-size: 0.87em;
    margin: auto;
  }
}
